/*MAKING IMAGE BOUNCE*/

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.imageBounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.divListItem:hover .imageBounce {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}


/*MAKING IMAGE SHAKE*/
@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.divListItem:hover .imageShake {
  animation: shake 3s ease-in-out;
  animation-iteration-count: infinite;
}


/*ZOOM IN ON HOVER*/
.divListItem:hover {
  zoom: 1.1;
  -moz-transform: scale(1.1);
}