@font-face {
    font-family: 'pkmn';
    src: url('Fonts/pkmn_rbygsc-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

html, input::placeholder, input {
    font-family: 'pkmn' !important;
    font-size: 16px;
    line-height: 180%;
}

.divListItem, .divInput {
    width: 300px;
    height: 43px;
    font-size: 20px;
    background-color: #F0F0F0;
    border-radius: 10vh;
    padding-top: 10px;
    margin: 10px;
    display: inline-block;
    position: relative;

    transition: 3s ease;
}

.divInput {
    width: 50%;
    min-width: 300px;
}

.divListItem:hover {
    cursor: pointer;
}

input {
    border: none;
    background-color: transparent;
    width: 200px;
}

input:focus {
    outline: none;
}

.divNav {
    width: 48%;
    height: 30px;
    font-size: 20px;
    border-radius: 10vh;
    padding-top: 10px;
    margin: 10px;
}

.divProfile {
    background-color: #f0f0f0;
    width: 30%;
    height: auto;
    margin: 1%;

    border: 10px solid #222224;
    border-radius: 10px;

    display: inline-block;
    position: relative;

    transition: 1s ease;
}

.divDesc {
    font-size: 16px;
    background-color: #f0f0f0;
    width: 60%;
    height: auto;
    margin: 1%;

    border: 5px solid #222224;
    border-radius: 10px;

    display: inline-block;
    position: relative;

    transition: 1s ease;
}

.divData, .divStats, .divBreeding {
    font-size: 16px;
    width: 30%;
    height: 100%;
    margin: 1%;
    padding: 2%;

    border: 5px solid #222224;
    border-radius: 10px;

    display: inline-block;
    position: relative;

    transition: 1s ease;
}

.linkEvolution {
    width: 40%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 1%;
}

.pokeballCenter {

    height: 90px;
    width: 90px;
    background-color: #f0f0f0;
 
    border: 20px solid #222224;
    border-radius: 50%;

    z-index: 9;

    display: inline-block;
    position: relative;
}

.pokeballLine {

    height: 40px;
    width: 102%;
    background-color: #222224;

    position: absolute;
    top: 25%;
}

.pokeballWhite {
    filter: invert(99%) sepia(1%) saturate(1589%) hue-rotate(46deg) brightness(116%) contrast(88%);
}



.profilePic {
    /*
    border: solid #222224;
    border-radius: 50%;
    */
    
    width: 70%;
    padding: 10%;

    display: inline-block;
    position: relative;
}

/* MOBILE LAYOUT */

@media screen and (max-width: 800px) {
    .divListItem, .divInput {
        zoom: 1;
        -moz-transform: scale(1);

    }

    .divProfile, .divDesc, .homeNavigations, .introduction {
        width: 100%;
    }

    .linkEvolution {
        width: 80%;
        display: block;
    }
}

.divListItemMobile, .divInputMobile {
    zoom: 2;
    -moz-transform: scale(2);

}

.introduction {
    color: #F0F0F0; 
    width: 40%; 
    margin-top: 10%; 
    margin-left: 5%;
}



@media screen and (max-width: 900px) {
    .introduction {
        width: 90%;
    }
    .homeNavigations {
        width: 60%;
    }
}



/*NAVIGATIONS*/


.navigationLinks {
    color: #F00000;
    text-align: right;
    text-decoration: none;
    font-size: 3vh;

    margin-bottom: 1vh;
    padding: 2vh;
    border: 2vh;

    display: block;
    position: relative;

    border-radius: 10px;
}

.navigationLinks:hover {
    color: #F0F0F0;
    background-color: #F00000;
}

@media screen and (max-width: 1100px) {
    .navigationLinks {
        color: #F0F0F0;
    }
    .navigationLinks:hover {
        background-color: #F0F0F0;
        color: #F00000;
    }
}

@media screen and (orientation:portrait) {
    .navigationLinks {
        color: #F00000;
    }
    .navigationLinks:hover {
        color: #F0F0F0;
        background-color: #F00000;
    }
}


/*DESIGN FOR TABLE*/
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}

tr {
    border-bottom: 2px solid #222224 !important;
}

th {
    color: #454545;
    text-align: right;
    width: auto;
}

td {
    text-align: left;
    padding-left: 20px;
}

/*DESIGN FOR PROGRESS BAR*/
.progressBar {
    height: 10px;
    margin: 5px;
}


/*CODE FOR THE SCROLLBAR STYLE*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F0F0F0;
    border-radius: 10px;
}